@use "./variables" as *;

@media screen and (max-width: 768px) {
  .header-bar {
    color: $aubergine-color;
    font-family: "Madimi One";
  }
  main {
    .subheading-1 {
      color: $light-blue-text;
      font-size: 3em;
    }

    .textbox {
      h1 {
        color: $aubergine-color;
      }

      h2 {
        color: $light-blue-text;
      }

      h3 {
        color: $aubergine-color;
      }
    }

    button {
      color: #fafafa;
      background-color: $aubergine-color;
      font-size: 2.5em;
    }

    .subheading-2 {
      color: $aubergine-color;
      font-size: 2.5em;
    }

    section {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin: 0;

      .info-card {
        h2 {
          font-size: 2em;
          font-weight: 200;

          b {
            font-weight: 800;
          }
        }
      }
    }
  }
}
