@use "./variables" as *;

@media screen and (max-width: 768px) {
  .header-bar {
    color: $aubergine-color;
    font-family: "Madimi One";

    button {
      color: $aubergine-color;
      background-color: #fafafa;
      font-weight: 600;

      p {
        font-size: 1.6em;
      }
    }
  }
  main {
    .subheading-1 {
      color: $light-blue-text;
      font-size: 3em;
    }

    .textbox {
      h1 {
        color: $aubergine-color;
        font-weight: 300;
      }

      h2 {
        color: $light-blue-text;
        font-weight: 200;
      }

      h3 {
        color: $aubergine-color;
        font-weight: 100;
      }
    }

    button {
      color: #fafafa;
      background-color: $aubergine-color;
      font-size: 2.5em;
      font-weight: 800;
    }

    .subheading-2 {
      color: $aubergine-color;
      font-size: 2.8em;
      font-weight: 600;
    }

    section {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin: 0;

      .info-card {
        h2 {
          font-size: 2em;
          font-weight: 200;

          b {
            font-weight: 800;
          }
        }
      }
    }
  }

  nav {
    background-color: $light-yellow;

    a {
      background-color: $light-yellow;
      font-family: "Roboto", sans-serif;
      text-decoration: none;
      font-size: 2em;
    }
  }
}
