@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Madimi+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@media screen and (max-width: 768px) {
  .header-bar {
    color: rgb(51, 36, 88);
    font-family: "Madimi One";
  }
  .header-bar button {
    color: rgb(51, 36, 88);
    background-color: #fafafa;
    font-weight: 600;
  }
  .header-bar button p {
    font-size: 1.6em;
  }
  main .subheading-1 {
    color: rgb(65, 183, 241);
    font-size: 3em;
  }
  main .textbox h1 {
    color: rgb(51, 36, 88);
    font-weight: 300;
  }
  main .textbox h2 {
    color: rgb(65, 183, 241);
    font-weight: 200;
  }
  main .textbox h3 {
    color: rgb(51, 36, 88);
    font-weight: 100;
  }
  main button {
    color: #fafafa;
    background-color: rgb(51, 36, 88);
    font-size: 2.5em;
    font-weight: 800;
  }
  main .subheading-2 {
    color: rgb(51, 36, 88);
    font-size: 2.8em;
    font-weight: 600;
  }
  main section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0;
  }
  main section .info-card h2 {
    font-size: 2em;
    font-weight: 200;
  }
  main section .info-card h2 b {
    font-weight: 800;
  }
  nav {
    background-color: rgb(252, 250, 236);
  }
  nav a {
    background-color: rgb(252, 250, 236);
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    font-size: 2em;
  }
}
@media screen and (max-width: 768px) {
  * {
    background-color: white;
  }
  .header-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    height: 15vh;
    font-size: 2em;
    margin-bottom: 30px;
  }
  .header-bar div {
    width: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .header-bar div img {
    max-width: 50%;
    height: auto;
  }
  .header-bar div h1 {
    width: 40%;
  }
  .header-bar button {
    padding: 20px 30px;
    border-radius: 5px;
    font-size: 20px;
    width: 30%;
  }
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main .subheading-1 {
    width: 80%;
    margin-bottom: 20px;
    text-align: center;
  }
  main img {
    width: 60%;
    margin-bottom: 20px;
  }
  main .textbox {
    display: flex;
    flex-direction: column;
    width: 75%;
    text-align: center;
    justify-content: space-around;
  }
  main .textbox h1 {
    margin: 3vh auto;
    font-size: 2.5em;
    font-weight: bold;
  }
  main .textbox h2 {
    margin: 3vh auto;
    font-size: 2.2em;
    font-weight: bold;
  }
  main .textbox h3 {
    margin: 3vh auto;
    font-size: 1.8em;
  }
  main button {
    width: 60%;
    padding: 20px 30px;
    border-radius: 10px;
    margin: 3vh auto;
  }
  main .subheading-2 {
    width: 80%;
    margin-bottom: 20px;
    text-align: center;
    margin: 5vh auto;
  }
  main section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0;
  }
  main section .info-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    align-items: center;
    height: auto;
  }
  main section .info-card img {
    width: 40%;
  }
  main section .info-card h2 {
    text-align: center;
    width: 60%;
  }
  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  nav a {
    margin: 2vh auto;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  background-color: red;
}

@media screen and (max-width: 768px) {
  * {
    background-color: white;
  }
}/*# sourceMappingURL=main.css.map */