@use "./_components";
@use "./_layout";
@use "./_variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  background-color: red;
}

@media screen and (max-width: 768px) {
  * {
    background-color: white;
  }
}
